.app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 20px;

  @media (min-width: 530px) {
    padding: 20px 30px;
  }

  @media (min-width: 860px) {
    padding-right: 50px;
    padding-left: 50px;
  }
}